a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img { 
  width: 100%; 
  display: block; 
}

body {
  font: 400 1.2rem/1.5 "Kameron", serif;
  color: #222;
}

/* header styles */
h1 {
  font: 700 1.4rem/1 "Kameron", serif;
  max-width: 90%;
  letter-spacing: 1px;
}

h1 span {
  display: block;
  position: relative;
}

header {
  padding: 5%;
  height: 15vh;
}

header .logo {
  width: 20px;
  margin-right: 3px;
}

/* main styles */
main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  border-top-left-radius: 80px;
}

form {
  text-align: center;
  padding: 0 5% 0 5%;
  width: 100%;
  opacity: 1;
  transition: opacity 0.4s;
}

form p {
  color: #fff;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-top: 50px;
}

input[type="text"], 
::placeholder,
input[type="submit"],
.museumInfo button {
  font: 400 1.2rem "Kameron", serif;
  letter-spacing: 1px;
}

input[type="text"],
input[type="submit"],
.museumInfo button {
  text-align: center;
  padding: 8px 10px;
  border: none;
  width: 100%;
}

input[type="text"] {
  border-bottom: 2px solid #fff;
  color: #fff;
  background: none;
}

input[type="submit"],
.museumInfo button {
  background-color: #999;
  margin-top: 15px;
}

::placeholder {
  color: #fff;
  opacity: 0.8;
}

/* .cityInfo styles */
.cityInfo {
  text-align: center;
  padding: 40px 5%;
}

.cityInfo p {
  font-size: 1rem;
  letter-spacing: 1px;
}

.cityInfo h2 {
  text-transform: capitalize;
  font: 700 1.6rem "Kameron", serif;
}

/* .museumsList styles */
.museumsList li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 5%;
}

.museumsList li:nth-of-type(odd),
.museumsList li:nth-of-type(odd) button {
  color: #fff;
  background-color: #222;
}

.museumsList button {
  text-align: left;
  border: none;
  font: 400 1.2rem "Kameron", serif;
  background-color: transparent;
  letter-spacing: 1px;
  width: 100%;
  margin: 0;
}

.museumsList span {
  margin-right: 20px;
}

/* .museumDetails styles */
.museumDetails {
  padding: 50px 5%;
  background-color: #222;
  color: #fff;
}

.museumImg img {
  max-width: 280px;
  height: 280px;
  object-fit: cover;
  margin: 0 auto;
}

.museumInfo h2 {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 23px 0 15px 0;
}

.museumInfo address, .museumInfo a {
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 1.3;
  margin-bottom: 25px;
}

.museumInfo a {
  text-decoration: none;
  text-align: center;
  color: #222;
  background-color: #fff;
  display: block;
  font-style: italic;
  padding: 5px 5%;
  margin-bottom: 50px;
}

.museumInfo p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.museumInfo button {
  margin-top: 20px;
}